In [4]:
import sqlite3

class Movie:
    def __init__(self, title, director, genre, year, rating=None):
        self.title = title
        self.director = director
        self.genre = genre
        self.year = year
        self.rating = rating

    @staticmethod
    def create_table():
        conn = sqlite3.connect('movies.db')
        c = conn.cursor()
        c.execute('''CREATE TABLE IF NOT EXISTS MOVIES
                     (TITLE TEXT, DIRECTOR TEXT, GENRE TEXT, YEAR INTEGER, RATING REAL)''')
        conn.commit()
        conn.close()

    def insert_record(self):
        conn = sqlite3.connect('movies.db')
        c = conn.cursor()
        c.execute("INSERT INTO MOVIES VALUES (?, ?, ?, ?, ?)",
                  (self.title, self.director, self.genre, self.year, self.rating))
        conn.commit()
        conn.close()

    @staticmethod
    def select_all():
        conn = sqlite3.connect('movies.db')
        c = conn.cursor()
        c.execute("SELECT * FROM MOVIES")
        rows = c.fetchall()
        conn.close()
        return rows

    def update_record(self, new_rating):
        conn = sqlite3.connect('movies.db')
        c = conn.cursor()
        c.execute("UPDATE MOVIES SET RATING = ? WHERE TITLE = ?", (new_rating, self.title))
        conn.commit()
        conn.close()

    def delete_record(self):
        conn = sqlite3.connect('movies.db')
        c = conn.cursor()
        c.execute("DELETE FROM MOVIES WHERE TITLE = ?", (self.title,))
        conn.commit()
        conn.close()

Movie.create_table()


if __name__ == "__main__":
    movie = Movie(" Divergent", 2014," Neil Burger","Sci-Fi")
    movie.insert_record()

    all_movies = Movie.select_all()
    print("All movies:", all_movies)

    movie.update_record(9.0)

    movie.delete_record()

All movies: [(' Divergent', '2014', ' Neil Burger', 'Sci-Fi', None)]